<%- include("../partials/head.ejs",{title:"CapaHelp Create Ticket"}) %>
    <%- include("../partials/adminHeaderLinks.ejs") %>
        <link rel="icon" sizes="32x32" type="jpg/png" href="/public/img/logo.png">
        <link rel="stylesheet" href="/public/styles/User/nav.css">
        <link rel="stylesheet" href="/public/styles/Admin/adminCreateTicket.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
        <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>

        <script defer src="https://kit.fontawesome.com/96a70be8ea.js" crossorigin="anonymous"></script>

        </head>

        <body>
            <main class="create-main">
                <%- include("../partials/Admin/adminHeader.ejs")%>
                    <div class="hero solution-hero ticket-hero">
                        <p class="solutions-top ticket-top">
                            <span><a href="/admin/dashboard">Home</a></span> > <a href="/admin/create/ticket">Create a
                                Ticket</a>
                        </p>
                        <h1 class="hero-title create-title">Create a Ticket</h1>
                        <div class="error-plane">

                        </div>
                        <form id="createTicketForm">
                            <div class="form-box">
                                <label for="type">Type <span>*</span></label>
                                <select name="ticket-type" id="ticketType">
                                    <option value="incident">Incident</option>
                                    <option value="complaint">Complaint</option>
                                    <option value="service">Request service</option>
                                </select>
                            </div>
                            <div class="form-box">
                                <label for="title">Title <span>*</span></label>
                                <input type="text" name="ticketTitle" id="ticketTitle" value="<%=  %> ">
                            </div>
                            <div class="form-box">
                                <label for="email">Customer email <span>*</span></label>

                                <input type="email" id="email" name="email" value=" " required>
                            </div>
                            <div class="form-box">
                                <label for="agentId">Assignee </label>


                                <input type="email" name="agentId" id="agentId" value=" ">
                            </div>
                            <div class="form-box">
                                <label for="department">Department </label>
                                <select name="department" id="department">
                                    <option value="none">None</option>
                                    <option value="security">Security</option>
                                    <option value="development">Development</option>
                                    <option value="database">Database</option>
                                </select>

                                <!-- <input type="email" id="email" value=" " style=" background: #eee;"> -->
                            </div>
                            <div class="align-select-input">

                                <div class="form-box">
                                    <label for="priority">Priority <span>*</span></label>
                                    <select name="priority" id="priority">
                                        <option value="medium">Medium</option>
                                        <option value="low">Low</option>
                                        <option value="high">High</option>
                                    </select>
                                </div>
                                <div class="form-box">
                                    <label for="urgency">Urgency <span>*</span></label>
                                    <select name="urgency" id="urgency">
                                        <option value="Urgent">Urgent</option>
                                        <option value="medium">Medium</option>
                                        <option value="low">Low</option>
                                        <option value="Open">Open</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-box">
                                <label for="status">Ticket Status <span>*</span></label>
                                <select name="status" id="status">
                                    <option value="pending">Pending</option>
                                    <option value="resolved">Resolved</option>
                                    <option value="cancelled">Cancelled</option>
                                    <option value="active">Active</option>
                                    <option value="in progress">In progress</option>
                                </select>
                            </div>
                            <div class="form-box">
                                <label for="description">Description <span>*</span></label>
                                <textarea id="description" name="description" rows="5" required></textarea>
                            </div>
                            <div class="form-box file-box">
                                <label class="file-label" for="file">Attach a file</label>
                                <p>(File size < 35mb)</p>
                                        <input type="file" id="file" class="file">
                            </div>
                            <div class="hero-toggles create-toggles" id="btn-section">
                                <div class="view"
                                    onclick="window.location = window.location.toString().replace('admin/create/ticket','admin/dashboard')">
                                    <!-- <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span> -->
                                    Cancel
                                </div>

                                <!-- <input type="submit" value="ca" id="submitBtn" /> -->
                                <button type="submit" id="submitBtn" class="has-spinner">
                                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Create</button>

                                <!-- <div class="create" id="">
                            <a>Submit</a>
                        </div> -->
                            </div>
                        </form>
                    </div>
            </main>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script>



                function showMessage(msg, success) {

                    if (success) {


                        return (
                            `
                <div class="alert alert-success alert-dismissible fade show " role="alert"
                style="height: 3rem;  ">
                    <h6 style="font-size:0.9rem;" class="text-center">
                        ${msg}
                    </h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width:1rem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                `
                        )
                    } else {
                        return (`   
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                style="height: 3rem; ">
                    <h6 style="font-size:0.9rem;"  class="text-center">
                            ${msg}
                    </h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                     style="width:1rem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                `)
                    }
                }


                const createTicketFormElem = document.getElementById("createTicketForm");
                const ticketTypeElem = document.getElementById("ticketType");
                const ticketTitleElem = document.getElementById("ticketTitle");
                const emailElem = document.getElementById("email");
                const agentIdElem = document.getElementById("agentId");
                const departmentElem = document.getElementById("department");
                const priorityElem = document.getElementById("priority");
                const urgencyElem = document.getElementById("urgency");
                const statusElem = document.getElementById("status");
                const descriptionElem = document.getElementById("description");
                const submitBtnElem = document.getElementById("submitBtn");
                //error message container
                const errorPlaneElem = document.querySelector(".error-plane")
                //spinner element
                const spinnerElem = document.querySelector(".spinner")
                spinnerElem.style.display = "none";
                submitBtnElem.addEventListener("click", function (event) {
                    submitBtnElem.disabled = true
                    spinnerElem.style.display = "block";

                    event.preventDefault()
                    //console.log(submitBtnElem.getAttributeNames())

                    //set loader
                    fetch("/admin/create/ticket", {
                        headers: {

                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify({
                            ticket_type: ticketTypeElem.value,
                            title: ticketTitleElem.value,
                            customer_id: emailElem.value,
                            assignee_id: agentIdElem.value,
                            dept_id: departmentElem.value,
                            urgency: urgencyElem.value,
                            priority: priorityElem.value,
                            ticket_status: statusElem.value,
                            description: descriptionElem.value
                        })
                    })
                        .then(response => {
                            console.log(response);

                            return response.json();
                        }).then(data => {
                            if (data) {
                                errorPlaneElem.innerHTML = showMessage(data.msg, data.success);

                                submitBtnElem.disabled = false
                                spinnerElem.style.display = "none";
                                errorPlaneElem.scrollIntoView({ behavior: "smooth" });

                            }

                        }).catch(error => {
                            if (error) {
                                submitBtnElem.disabled = false
                                spinnerElem.style.display = "none";
                                errorPlaneElem.innerHTML = showMessage(error.msg, false);
                                errorPlaneElem.scrollIntoView({ behavior: "smooth" });

                            }
                        })

                })

            </script>
        </body>

        </html>