<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/Admin/users.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
        integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <!-- footer styles and icons -->
    <link rel="stylesheet" href="/public/styles/footer.css">
    <link rel="stylesheet" href="/public/styles/Admin/userTable.css">
    <!-- user table javascript file -->
    <script defer src="/public/script/Admin/userTable.js"></script>

    <!-- fontawesome cdn link -->
    <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>
    <!-- jquery cdn  link -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- styling for userTable partial -->
</head>

<body>
    <div>
        <%- include("../partials/adminHeader.ejs",{user:undefined}) %>
    </div>
    <main>
        <div class="d-flex justify-content-center">

            <div class="table-desc">

                <h1 class="text-center">User Management</h1>
            </div>
        </div>
        <section class="card-section">
            <div id="root">
                <div class="container pt-5">
                    <div class="row align-items-stretch">
                        <div class="c-dashboardInfo col-lg-3 col-md-6">
                            <div class="wrap">
                                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                    Total Users<i class="fa-solid fa-users margin-icon"></i></h4><span
                                    class="hind-font caption-12 c-dashboardInfo__count">10,500</span>
                                <span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: +30</span>

                            </div>
                        </div>
                        <div class="c-dashboardInfo col-lg-3 col-md-6">
                            <div class="wrap">
                                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">No.
                                    Of Admin<i class="fa-solid fa-user-shield margin-icon"></i></h4><span
                                    class="hind-font caption-12 c-dashboardInfo__count">500</span><span
                                    class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: -30</span>
                            </div>
                        </div>
                        <div class="c-dashboardInfo col-lg-3 col-md-6">
                            <div class="wrap">
                                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                    No. Of Clients<i class="fa-solid fa-users-rays margin-icon"></i></h4><span
                                    class="hind-font caption-12 c-dashboardInfo__count">5000</span>
                                <span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: +30</span>

                            </div>
                        </div>
                        <div class="c-dashboardInfo col-lg-3 col-md-6">
                            <div class="wrap">
                                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">No
                                    Of Agents<i class="fa-solid fa-user-tie margin-icon "></i></h4><span
                                    class="hind-font caption-12 c-dashboardInfo__count">6,40%</span>
                                <span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: +30</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="filter-users">
            <form action="/filter/users/" class="filter-form" method="post">
                <div>
                    <label for="email">By Email</label>
                    <input type="email" id="email" name="email" class="txt_field">
                </div>

                <div>
                    <label for="role">By Role</label>
                    <select name="user-type" class="select_field" id="role">
                        <div class="options">

                            <option value="admin">Admin</option>
                            <option value="agent">Agent</option>
                            <option value="user">User</option>
                        </div>
                    </select>
                </div>
                <div>
                    <label for="country">By Date</label>
                    <input type="text" id="country" name="country" class="txt_field">
                </div>
                <div class="filter-btn">

                    <button class="search_button"><i class="fa-brands fa-searchengin"></i> <span>Filter</span></button>
                </div>
            </form>
        </div>
        <div class="add-user">
            <h4>All System Users</h4>
            <form action="/admin/register" method="get">


                <button><i class="fa-regular fa-plus"></i><span>Add User</span> </button>
            </form>
        </div>

        <%- include("../partials/usersTable.ejs") %>




    </main>
    <section>
        <%- include("../partials/footer.ejs")%>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- table -->


</body>

</html>