<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/Admin/view_ticket.css">
    <!-- <script src="../../ckeditor/ckeditor.js"></script> -->
</head>

<body>
    <%- include("../partials/adminHeader.ejs") %>
        <main>
            <div class="job">
                <section class="section1">
                    <div>
                        <h3><span style="color: #37A45C;">Tickets</span> > #CAPA-3</h3>
                    </div>
                    <div class="top">
                        <h1>I want to create a Website</h1>
                        <p>Created on Wednesday, 28 Sep 2022 9:05 PM</p>
                        <span style="background-color: #FBE5AB; font-size: 12px;" class="span">Being Processed Since 1
                            day ago</span>
                    </div>
                </section><br>

                <section class="section2">
                    <div class="part2 eo">
                        <h1>EO</h1>
                    </div>
                    <div class="part2 section2_text">
                        <div class="posted">
                            <h1>Emmanuel Onyeagbutu</h1>
                            <p>Posted 1 day ago</p>
                        </div>
                        <p>Hello CapacityBay Team</p><br>
                        <p>I want to create a website for my Tea business known as "Mai Tea Herbals"</p>
                        <p>1 attachment (Scanned for viruses)</p>
                        <div class="mai-tea">
                            <h1>Mai Tea Herbals Document.docx</h1>
                            <p>(368.67KB)</p>
                        </div>
                    </div>
                </section><br>

                <section class="section3">
                    <div class="part2 eo">
                        <h1>EO</h1>
                    </div>
                    <div class=" section2_text">
                        <form>
                            <label for="editor" style="font-weight: bold;">Reply</label><br>
                            <textarea name="editor" id="editor" cols="60" rows="20">Text</textarea>
                            <label style="font-size:15px;"><span style="color: #37A45C; font-weight: bold;">Attach a
                                    File</span> <span>(File < 35mb)</span></label>
                            <div class="submit-btn"><a href="">Submit</a></div>


                        </form>

                    </div>
                </section>
            </div>
        </main>
        <script src="../../ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace("editor");
        </script>
</body>

</html>
<script src="../../ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace("editor");
</script>
</body>

</html>