<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/Admin/adminHeader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/9f1f230ebc.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="row">
            <nav>
                <img src="/public/img/logo.png" alt="capacitybay logo" width="80px" />

                <div class="con">
                    <ul class="nav-items">
                        <li><a href="">Home</a></li>
                        <li><a href="">Customers</a></li>
                        <li><a href="../ticket/list">Tickets</a></li>
                    </ul>

                    <ul class="nav-cont">
                        <li class="be">
                            <span class="num">2</span> <i class="fa fa-bell-o"></i>
                        </li>
                        <li>
                            <h1 class="box_h1 eo " id="toggleProfile">EO</h1>
                        </li>
                    </ul>
                    <div class="show-profile">
                        <!-- <div class="profile-container"> -->

                        <div class="top-section">
                            <div class="icon-container">
                                <div class="icon">
                                    <h5>

                                        <%= user.first_name.charAt(0) + " " + user.last_name.charAt(0) %>
                                    </h5>

                                </div>

                            </div>
                            <div class="profile-name">

                                <p>
                                    <%= user.first_name %>
                                        <%= user.last_name %>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-section">
                            <div class="links">
                                <p>Edit profile</p>

                            </div>
                            <div class="links">

                                <p>Logout</p>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>

                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a class="box_font" href="#"><i class="fa-solid fa-user"><span>&nbsp; Emmanuel
                                Onyenegbutu</span></i></a>
                    <a href="#"><img src="../../roland_images/bell.png" alt=""></a><br>
                    <a href="#">Home</a><br>
                    <a href="#">Customer</a><br>
                    <a href="#">Tickets</a><br>
                </div>
                <div id="main">
                    <button class="openbtn" onclick="openNav()"><i class="fa-solid fa-bars"></i></button>
                </div>
            </nav>

        </div>
    </header>

    <script src="/public/script/adminHeader.js"></script>
</body>

</html>