<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Welcome</title>
    <link rel="stylesheet" href="/public/styles/adminnav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/9f1f230ebc.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="rowt">
            <nav>
                <img src="/public/img/logo.png" alt="capacitybay logo" width="80px" />

                <div class="con">
                    <ul class="nav-items">
                        <li><a href="">Home</a></li>
                        <li><a href="">Customers</a></li>
                        <li><a href="">Tickets</a></li>
                    </ul>

                    <ul class="nav-cont">
                        <li class="be">
                            <span class="num">2</span> <i class="fa fa-bell-o"></i>
                        </li>
                        <li>
                            <h1 class="box_h1">EO3223< /h1>
                        </li>
                    </ul>
                </div>

                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a class="box_font" href="#"><i class="fa-solid fa-user"><span>&nbsp; Emmanuel
                                Onyenegbutu</span></i></a>
                    <a href="#"><img src="../../roland_images/bell.png" alt=""></a><br>
                    <a href="#">Home</a><br>
                    <a href="#">Customer</a><br>
                    <a href="#">Tickets</a><br>
                </div>
                <div id="main">
                    <button class="openbtn" onclick="openNav()"><i class="fa-solid fa-bars"></i></button>
                </div>
            </nav>

        </div>
    </header>

    <script src="/public/script/adminnav.js"></script>
</body>

</html>