<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> About Capacity</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In
            scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer
            tellus est, vehicula eu lectus tincidunt,
            ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh
            mollis, tristique ante sed, viverra massa.
        </p>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            <a href="#"><i class="fab fa-instagram instagram-bg"></i></a>
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span> 33 8th street </span> Ohio, USA</p>
        </div>
        <div>
            <i class="fas fa-phone"></i>
            <p> (+00) 0000 000 000</p>
        </div>
        <div>
            <i class="far fa-envelope-open"></i>
            <p><a href="#"> capacitybay@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <img src="/public/img/logo.png" alt="logo" width="100px" height="100px">
        <h2> Capacity<span> Bay</span></h2>
        <p class="menu">
            <a href="#"> Home</a> |
            <a href="#"> About</a> |

            <a href="#"> Contact</a>
        </p>
        <p class="name"> Capacity Bay &copy; 2022</p>
    </div>
</footer>