<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> About Capacity</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nisi commodi
            alias sapiente laboriosam consequatur velit dicta harum reiciendis obcaecati?
            Earum nisi commodi
            alias sapiente laboriosam consequatur velit dicta harum reiciendis obcaecati?
        </p>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            <a href="#"><i class="fab fa-instagram instagram-bg"></i></a>
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span> 9701 Apollo Drive suite </span> 301 Largo MD 20774 </p>
        </div>
        <div>
            <i class="fas fa-phone"></i>
            <p> (301) 304-1BAY</p>
        </div>
        <div>
            <i class="far fa-envelope-open"></i>
            <p><a href="#"> info@capacitybay.org</a></p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <img src="/public/img/logo.png" alt="logo" width="100px" height="100px">
        <h2> Capacity<span> Bay</span></h2>
        <p class="menu">
            <a href="#"> Home</a> |
            <a href="#"> About</a> |

            <a href="#"> Contact</a>
            <a href="https://capacitybay.org"> capacitybay official site</a>
        </p>
        <p class="name"> Capacity Bay &copy; 2022</p>
    </div>
</footer>