<footer class="footer">
    <div class="footer-right col-md-4 col-sm-6">
        <a href="/"><img src="/public/img/logo.png" alt="logo"></a>
        <h2> CapacityBay</h2>
        <a class="contact-link" target="_blank" href="https://capacitybay.org">Visit Our Official Site</a>
        <div class="icons">
            <a target="_blank" href="https://web.facebook.com/CapacityBay1"><i
                    class="fab fa-facebook-f facebook-bg"></i></a>
            <a href="https://twitter.com/capacity_bay" target="_blank"><i class="fab fa-twitter twitter-bg"></i></a>
            <a href="https://www.linkedin.com/company/capacitybay-inc/ target=" _blank" "><i class=" fa-brands
                fa-linkedin"></i></a>
            <a href="https://www.instagram.com/capacitybay1/" target="_blank"><i
                    class="fab fa-instagram instagram-bg"></i></a>
        </div>
        <p class="name"> CapacityBay &copy; 2023</p>
    </div>
    <div class="footer-left col-md-4 col-sm-6">
        <!-- <p class="about">
            <span> About Capacity</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nisi commodi
            alias sapiente laboriosam consequatur velit dicta harum reiciendis obcaecati?
            Earum nisi commodi
            alias sapiente laboriosam consequatur velit dicta harum reiciendis obcaecati?
        </p> -->
        <nav class="footer-nav">
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Login / Register</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Find Out More</a></li>
            </ul>
        </nav>

    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span> 9701 Apollo Drive suite </span> 301 Largo MD 20774 </p>
        </div>
        <div>
            <i class="fas fa-phone"></i>
            <p> (301) 304-1BAY</p>
        </div>
        <div>
            <i class="far fa-envelope-open"></i>
            <p><a href="mailto:info@capacitybay.org"> info@capacitybay.org</a></p>
        </div>
    </div>
</footer>