<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/styles/validationHandler.css" type="text/css">
</head>

<body>


    <div class="error-container">

        <p class="message">
            <%= message %>
        </p>
    </div>

</body>

</html>