@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header Styling */
header{
    width: 100%;
    padding: 5px 5px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_img{
    width: 6%;
}

.nav-menu{
    display: flex;
    gap: 20px;
}

.nav_btn{
    padding: 0.350em 1em;
    border-radius: 10px;
    text-decoration: none;
}

.btn1{
    border: 3px solid #1CA76C ;
    color: #1CA76C;
    font-weight: bold;
}
.btn1:hover{
    background-color: #1CA76C;
    color: white;
}
.btn2{
    background-color: #1CA76C;
    color: white;
    font-weight: bold;
    border: 3px solid #1CA76C ;
}
.btn2:hover{
    background-color: white;
    color: #1CA76C;
}

/* Main */
.house{
    /* position: relative; */
    /* display: none; */
    height: fit-content;
    /* background-color: red; */
}
.main{
    /* height: 100vh; */
    /* background-color: blue; */
}
.house.effect{
    height: 100vh;
    display: block;
    background-color: #000;
    color: #fff;
    opacity: 0.3;
}
.house.thing{
    height: 120vh;
    display: block;
    background-color: #000;
    color: #fff;
    opacity: 0.3;
}
.section-text{
    margin-top: 3em;
  
}

.section1{
    width: 90%;
    /* background-color: rgb(17, 255, 0); */
    
   
}
.section2{
    width: 90%;
    /* background-color: red; */
    
} 
.img-sct{
    width: 100%;
}

.section .section-text h1,h2,h3 {
    text-align: right;
}

.section .section-text h3 {
    font-weight: bold;
    font-size: 1.5rem;
  
}
.section .section-text h2 {
    font-weight: bold;
    color: #FFC800;
    font-size: 2.5rem;
   
}
.section .section-text h1 {
    font-weight: bold;
    color: #1CA76C;
    font-size: 5rem;
    /* margin-top: -15px; */
    margin: 0;
}

.section .section-text p {
    font-size: 0.80rem;
    text-align: right;
    font-weight: 550;
    
}
.section .section-text .p2 {
    font-size: 0.80rem;
    text-align: right;
    width: 100%;
    
}
.btn-div{
    width: 100%;
    display: flex;
    justify-content: right;
}
.btn3{
    background-color: #1CA76C;
    padding: 0.75em 3.5em;
    color: white;
    border-radius: 10px;
    border: 3px solid #1CA76C;
    font-weight: bold;
    margin-top: 1em;
    text-decoration: none;
    
}
/* Login Form */
.hone{
    color: #199561;
    padding-top: 10px;
    position: relative;
    width: 100%;
    
}
.hone h1{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.login-whole #login .hone h3{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #199561;
    font-weight: bold;
    font-size: 1.5rem;
}
.login-whole #login .hone h3:hover{
    padding: 0.13em;
    border-radius: 100%;
    background-color: #199561;
    color: white;
    cursor: pointer;
}
.login-whole{
    /* height: 80vh;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 99; */
    display: none;
    background-color: red;
}
.login-whole.show{
    display: block;
}
#login.showForm{
    /* background-color: white; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 100;
    border-radius: 10px;
}


.login-form{
    /* background-color: blue; */
    padding: 1.5em;
}

.login-form .stretch{
    width: 100%;
    outline: none;
    padding: 0.5em;
}

.login-form .input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 14px;
    
}
.login-form .input label{
    font-weight: bold;
    font-size: 13px;
}
::placeholder{
    font-size: 14px;
    padding: 0.2em;
}

.login-form .btn4{
    width: 100%;
    background-color: #1CA76C;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    border: 1px solid #1CA76C;
    border-radius: 5px;
}

/* Registration Form */
.lone{
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: blue; */
}
.lone h1{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #199561;
}
.reg-whole .reg .lone .h3y{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #199561;
    font-weight: bold;
    font-size: 1.5rem;
}
.reg-whole .reg .lone .h3y:hover{
    padding: 0.13em;
    border-radius: 100%;
    background-color: #199561;
    color: white;
    cursor: pointer;
}
.reg-whole{
    /* height: 110vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.reg{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 100;
    
    border-radius: 10px;
}
.reg-whole.display{
    display: block;
   
}
.reg.displayForm{
    /* background-color: white; */
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hover 1s linear forwards;
}


.reg-form{
    padding: 1.5em;
}
.for-name{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.reg-form .name, select{
    width: 100%;
    outline: none;
    padding: 0.5em;
}
.reg-label{
    width: 80%;
    /* font-size: 13px; */
}
.tc{
    display: flex;
    font-size: 14px;
    gap: 10px;
    font-weight: bold;
}
.reg-form .btn4{
    width: 100%;
    background-color: #1CA76C;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    border: 1px solid #1CA76C;
    border-radius: 5px;
}
@media screen and (max-width: 1000px) {

    .section .section-text h1,h2,h3 {
        text-align: left;
    }
  
    
    .section .section-text p {
        text-align: left;  
    }
    .section .section-text .p2 {
        text-align: left;
    }
    .btn-div{
        justify-content: left;
    }
    #login{
        width: 60%;
        /* background-color: blue; */
    }
    .house.effect{
        height: fit-content;
    }
    .reg{
        width: 70%;
    }
    .reg.displayForm{
        top: 80%; 
    }
    .house.thing{
        height: fit-content;
    }
    .for-name{
        flex-direction: column;
    }
}
@media screen and (max-width: 769px) {

    .section-text{
        margin-top: 0;
        margin-bottom: 2em;
    }
    .section .section-text h1,h2,h3 {
        text-align: left;
    }
    .section .section-text h1 {
       
        /* margin-top: -25px;  */
        
    }
    
    .section .section-text p {
        text-align: left;   
    }
    .section .section-text .p2 {
        text-align: left;
    }
    .btn-div{
        justify-content: left;
    } 
    #login{
        width: 50%;
        /* background-color: blue; */
    }
    .house.effect{
        height: fit-content;
    }
    .reg{
        width: 70%;
    }
    .for-name{
        flex-direction: column;
    }
    .house.thing{
        height: fit-content;
        padding-bottom: 3em;
        padding-right: 1em;
    }
    .reg.displayForm{
        top: 80%; 
       
    }
}

@media screen and (max-width: 426px) {
    header{
        justify-content: space-between;
        font-size: 14px;
    }
    .header_img{
        width: 10%;
    }
    .nav_btn{
        padding: 0.2em;
        border-radius: 10px;
    }
    .section .section-text h1,h2,h3 {
        text-align: left;
    }
    
    .section .section-text h3 {
        font-weight: bold;
        font-size: 1.2rem;
      
    }
    .section .section-text h2 {
        font-weight: bold;
        color: #FFC800;
        font-size: 2rem;
       
    }
    .section .section-text h1 {
        font-weight: bold;
        color: #1CA76C;
        font-size: 4rem;
        /* margin-top: -15px; */
        margin: 0;
    }
    
    .section .section-text p {
        font-size: 0.60rem;
        text-align: left;
        width: 90%;
        
    }
    .section .section-text .p2 {
        font-size: 0.60rem;
        text-align: left;
        width: 90%;
        
    }
    .btn-div{
        justify-content: left;
    }
    .btn3{
        padding: 0.75em 2.5em;
        margin-top: 0em;
    } 
    #login{
        width: 90%;
        /* background-color: blue; */
    }
    .house.effect{
        height: fit-content;
    }
    .reg{
        width: 95%;
    }
    .for-name{
        flex-direction: column;
    }
    .house.thing{
        height: fit-content;
    }
    .reg.displayForm{
        top: 55%; 
    }
    .lone h1{
      
        font-size: 1.5rem;
        
    }
    .hone h1{
      
        font-size: 1.5rem;
        
    }
    .login-form .input div label{
        font-size: 12px;
    }
}

@media screen and (max-width: 321px) {
    .nav_btn{
        padding: 0.1em;
        font-weight: 500;
        font-size: 12px;
    }
    .section .section-text h1,h2,h3 {
        text-align: left;
    }
    
    .section .section-text h3 {
        font-weight: bold;
        font-size: 0.8rem;
      
    }
    .section .section-text h2 {
        font-size: 1.3rem;
       
    }
    .section .section-text h1 {
        
        font-size: 3rem;
        /* margin-top: -13px; */
    }
    
    .btn3{
        padding: 0.45em 1em;
        margin-top: 0em;
    } 
    #login{
        width: 95%;
        /* background-color: blue; */
    }
    .login-form .input{
        gap: 0;
        font-size: 1px;
        
    }
    .login-form .input div label{
        font-size: 12px;
    }
    .house.thing{
        height: 200vh;
    }
    .house.effect{
        height: fit-content;
    }
}