<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CapaHelp</title>
    <link rel="icon" sizes="32x32" type="jpg/png" href="/public/img/logo.png">
    <link rel="stylesheet" href="/public/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <%- include("./partials/userHeaderLinks.ejs") %>
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="/public/styles/footer.css">
    <!-- font awesome cdn link -->
    <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
</head>

<body>

    <!-- Main -->
    <div class="main">
        <!-- Header -->
        <header>
            <img src="/public/img/logo.png" alt="capacitybay logo" class="header_img" />
            <nav>
                <div class="nav-menu">
                    <div class="nav-item">
                        <a href="/login" class="nav_btn btn1">Login</a>
                    </div>
                    <div class="nav-item">
                        <a href="/user/register" class="nav_btn btn2">Register</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="hero">
            <div class="hero-content">
                <h1 class="hero-title">
                    Need Support?<br><br><span class="gotu">WE'VE GOT YOU </span><br><span class="covered">COVERED</span>
                    <!-- <h3>Need Support?</h3>
                    <h2>WE'VE GOT YOU</h2>
                    <h1>COVERED</h1> -->
                </h1>
                <p class="sub">
                    At CapacityBay, Inc. we support you with you with our great services and our core
                    values: Hard
                    work,
                    Punctuality, Respect, Cooperation and collaboration, Partnership, Diversity, Tolerance,
                    Teamwork,
                    Research, Equity.
                </p>
                <p class="sub">
                    Tell us what you want, we build you a solution, create a Ticket and Track Our Progress
                </p>
                <div class="hero-toggles">
                    <div class="create">
                        <a href="/login">Create a Ticket</a>
                    </div>
                    
                </div>
            </div>
            <div class="hero-img">
                <img src="/public/img/solutions_assets/undraw_team_spirit_re_yl1v.svg" alt="" class="img-sct"/>
            </div>
        </div>
    </div>
    <section>
        <%- include("./partials/footer.ejs") %>
    </section>
</body>

</html>