<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/resetPassword.css">
</head>

<body>
    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="horizontal-container">

                    <div class="horizontal-form-box">
                        <div class="horizontal-info-container text-center">
                            <img
                                src="https://static.stayjapan.com/assets/top/icon/values-7dd5c8966d7a6bf57dc4bcd11b2156e82a4fd0da94a26aecb560b6949efad2be.svg" />
                            <p class="horizontal-heading">Reset your password</p>
                            <%- include("./partials/messages.ejs") %>
                                <!-- <p class="horizontal-subtitle ">Your password needs to be at least 8 characters. -->
                                </p>
                        </div>
                        <form class="horizontal-form" id="form" action="">
                            <!-- <input type="hidden" name="_method" value="patch"> -->
                            <div class="txt_field">
                                <span class="showIcon"><input type="checkbox" name="" id=""></span>

                                <input type="password" id="oldPassword" name="oldPassword" />
                                <span></span>
                                <label>Old Password</label>
                            </div>

                            <div class="txt_field">
                                <span class="showIcon"> <input type="checkbox" name="" id=""> </span>

                                <input type="password" id="newPassword" name="newPassword" />
                                <span></span>
                                <label>New Password</label>
                            </div>
                            <div class="txt_field">
                                <span class="showIcon"><input type="checkbox" name="" id=""></span>
                                <input type="password" id="confirmPassword" name="confirmPassword" />
                                <label>Confirm New Password</label>
                            </div>
                            <input type="submit" value="Set new password" />

                            <!-- <button class="o3-btn o3-btn-primary o3-btn-block">Set new password</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const oldPassword = document.getElementById("oldPassword");
        const newPassword = document.getElementById("newPassword");
        const confirmPassword = document.getElementById("confirmPassword");
        const showIcon = document.querySelectorAll(".showIcon");
        showIcon[0].addEventListener("click", () => {
            showPassword(oldPassword)
        })
        showIcon[1].addEventListener("click", () => {
            showPassword(newPassword)
        })
        showIcon[2].addEventListener("click", () => {
            showPassword(confirmPassword)
        })

        const showPassword = (input) => {
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }
        const form = document.querySelector("#form");
        console.log(document)
        document.addEventListener("submit", (event) => {
            event.preventDefault();
            const formData = form;
            fetch("http://localhost:3400/password/reset/6333694fd26a393355805cfa", {

                method: "PATCH",

                body: JSON.stringify({
                    oldPassword: formData.oldPassword.value,
                    newPassword: formData.newPassword.value,
                    confirmPassword: formData.confirmPassword.value,
                })
            })

            console.log("this is a form submit")

        })

    </script>
</body>

</html>