<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CapaHelp | Terms</title>
    <link rel="icon" sizes="32x32" type="jpg/png" href="/public/img/logo.png">
    <link rel="stylesheet" href="/public/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <%- include("./partials/userHeaderLinks.ejs") %>
    <!-- CSS only -->

    <link rel="stylesheet" href="/public/styles/footer.css">
    <!-- font awesome cdn link -->
    <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Main -->
    <div class="main">
        <!-- Header -->
        <header>
            <img src="/public/img/logo.png" alt="capacitybay logo" class="header_img" />
            <nav>
                <div class="nav-menu">
                    <div class="nav-item">
                        <a href="/login" class="nav_btn btn1">Login</a>
                    </div>
                    <div class="nav-item">
                        <a href="/user/register" class="nav_btn btn2">Register</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="hero">
            <div class="terms-page">
                <h1>Terms & Conditions</h1><br>
                <ul style="list-style: disc !important; text-align: justify;">
<li>Using the CapaHelp ticketing system, you agree to these terms and conditions. You also agree to use the system only for its intended purpose of requesting help or support from the company.</li>
<li>Eligibility: You must be at least 18 years old or have parental consent to use the help ticketing system. You must also be an authorized user of the company's products or services for which you are seeking help or support.</li>
<li>User Account: You may need to create a user account to use the CapaHelp ticketing system. You are responsible for maintaining the confidentiality and security of your user account, including your username and password.</li>
<li>Ticket Submission: You may submit a help ticket through the CapaHelp ticketing system. Your ticket should include all relevant details about your issue or question, including your contact information, product or service details, and a clear description of the problem or question.</li>
<li>Response Time: The company will make its best effort to respond to your help ticket as soon as possible. However, response times may vary depending on the volume of help tickets received and the complexity of your issue or question.</li>
<li>Resolution of Issue: The company will make its best effort to resolve your issue or question as soon as possible. However, the company cannot guarantee that all issues or questions can be resolved.</li>
<li>Liability: The support team will make every effort to resolve issues in a timely manner, but cannot guarantee a successful outcome.</li>
<li>Communications: The company may communicate with you through the help ticketing system or through other means, such as email or phone. You agree to provide accurate and up-to-date contact information and to respond promptly to communications from the company.</li>
<li>Privacy: The company will handle your personal information in accordance with its privacy policy. By using the CapaHelp ticketing system, you agree to the collection, use, and disclosure of your personal information as described in the company's privacy policy.</li>
<li>Termination: The support team reserves the right to terminate the account of any user who violates the terms and conditions of the CapaHelp ticketing system.</li>
<li>Modification of Terms and Conditions: The company may modify these terms and conditions at any time by posting the modified terms and conditions on its website. Your continued use of the CapaHelp ticketing system after the modified terms and conditions are posted will constitute your acceptance of the modified terms and conditions.</li>
<li>User Cooperation: Users must cooperate with our support team and provide any information or assistance required to resolve their issue. Failure to cooperate may result in a delay in resolving the issue or the inability to provide a solution.</li>
<li>Confidentiality: We will keep all information provided by users confidential, except as required by law or as necessary to provide the services requested.</li>
<li>Ownership and License: We retain ownership of any intellectual property rights related to the help ticketing system, and users are granted a limited, non-exclusive, non-transferable license to use the system solely for the purpose of receiving support services.</li>
<li>Disclaimer of Warranties: We make no representations or warranties regarding the performance of the CapaHelp ticketing system or the results that may be obtained from its use.</li>
<li>Governing Law These terms and conditions will be governed by and construed in accordance with the laws of the jurisdiction in which the company is located.</li>
<li>Updates: These terms and conditions are subject to change without notice. Users should check back periodically for any updates or changes.</li>


                </ul>
            </div>    
        </div>
    </div>
    <section>
        <%- include("./partials/footer.ejs") %>
    </section>
</body>

</html>