<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketing System</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/public/styles/User/home.css">
    <script src="https://kit.fontawesome.com/9f1f230ebc.js" crossorigin="anonymous"></script>


</head>

<body>
    <header>

        <div class="row">
            <nav>
                <div><img style="width:80px;;" src="/public/img/logo.png" alt="logo" class="logo"></div>
                <ul>
                    <li><a href="/user/Home" class="a">Home</a></li>
                    <li><a href="/user/solution" class="a">Solutions</a></li>
                    <li><a href="/user/tickets" class="a">Tickets</a></li>
                    <li><a href="#" class="a" id="toggleNotification"><i class="fa fa-bell-o"
                                aria-hidden="true"></i></a></li>
                    <div class="notification-slide" id="notification">
                        <p>Notifications...</p>
                    </div>
                    <li><a href="#" class="eo " id="toggleProfile">EO</a></li>
                </ul>
                <div class="show-profile">
                    <!-- <div class="profile-container"> -->

                    <div class="top-section">
                        <div class="icon-container">
                            <div class="icon">
                                EO
                            </div>

                        </div>
                        <div class="profile-name">

                            <p>Emmanuel Onyenegbutu </p>
                        </div>
                    </div>
                    <div class="bottom-section">
                        <div class="links">
                            <p>Edit profile</p>

                        </div>
                        <div class="links">

                            <p>Logout</p>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </nav>
        </div>

        <!-- Top Navigation Menu -->
        <div class="topnav">
            <a href="#home"><img style="width:60px;;" src="/public/img/logo.png" alt="logo" class="active"></a>
            <div id="myLinks">
                <a href="/home">Home</a>
                <a href="/solutions">Solutions</a>
                <a href="/tickets">Tickets</a>
                <!-- <a href="/eo" class="eo1">EO</a></li> -->
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

    </header>

    <div class="row">
        <main class="main">
            <article class="article">
                <h1 class="wel">Welcome to <br> <span class="break">capaHelp</span></h1><br>
                <p>At CapacityBay, Inc. we support you with our <b>Great services</b> <br>and our core values: Hard
                    work, Punctuality, Respect, <br> Cooperation and collaboration, Partnership, Diversity, <br>
                    Tolerance, Teamwork, Research, Equity. <br> <br> Tell us what you want, we build you a solution,
                    create a <br> Ticket and Track Our Progress. </p>
                <div class="button">
                    <a href="/ticket" class="but1"> Create a Ticket</a>
                    <a href="/user/solution" class="but2">View a Solution</a>
                </div>
            </article>
            <aside class="img-side">
                <img src="/public//img/programmers.png" alt="programmers">
            </aside>
        </main>
    </div>
    <script src="/public/script/home.js"></script>
</body>

</html>