<%- include("../partials/head.ejs",{title:"CapaHelp- Solutions"}) %>
    <%- include("../partials/userHeaderLinks.ejs") %>
        <link rel="icon" sizes="32x32" type="jpg/png" href="/public/img/logo.png">
        <link rel="stylesheet" href="/public/styles/User/nav.css">
        <!-- <link rel="stylesheet" href="/public/styles/User/partials_styles/userHeader.css"> -->
        <script defer src="https://kit.fontawesome.com/96a70be8ea.js" crossorigin="anonymous"></script>


        </head>

        <body>
            <%- include("../partials/User/userHeader.ejs") %>
                <main>

                    <div class="hero solution-hero">
                        <p class="solutions-top">
                            <span><a href="/user">Home</a></span> > <a href="/user/solutions">Solutions</a>
                        </p>
                        <div class="solutions-head">
                            <h1>FIND <span>HELP</span> AND SERVICES</h1>
                        </div>
                        <div class="solution-hero-content">
                            <a href="/user/create/ticket" style="text-decoration: none; color:#000;">

                                <div>
                                    <img src="/public/img/solutions_assets/web_developer.svg" alt="business">
                                    <h1>Web Development</h1>
                                </div>
                            </a>
                            <a href="/user/create/ticket" style="text-decoration: none; color:#000;">


                                <div>
                                    <img src="/public/img/solutions_assets/design_notes.svg" alt="Coworkers">
                                    <h1>Graphic Design</h1>
                                </div>
                            </a>
                            <a href="/user/create/ticket" style="text-decoration: none; color:#000;">


                                <div>
                                    <img src="/public/img/solutions_assets/social_media.svg" alt="Designer">
                                    <h1>Grow Your Audience</h1>
                                </div>
                            </a>

                            <a href="/user/create/ticket" style="text-decoration: none; color:#000;">

                                <div>

                                    <img src="/public/img/solutions_assets/find_talent.svg" alt="Work-Together">
                                    <h1>Find Talent</h1>
                                </div>
                            </a>
                            <a href="/user/create/ticket" style="text-decoration: none; color:#000;">

                                <div>
                                    <img src="/public/img/solutions_assets/training.svg" alt="Working">
                                    <h1>Training</h1>
                                </div>
                            </a>
                            <div class="plus">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </div>
                </main>
        </body>

        </html>