<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/error/error403.css" type="text/css">
    <title>Access Denied</title>
</head>

<body>


    <div class="text-wrapper">
        <div class="title " data-content="404" id="forbidden">
            403 - ACCESS DENIED
        </div>

        <div class="subtitle">
            Oops, You don't have permission to access this resource.
        </div>
        <div class="isi">

        </div>

        <!-- <div class="buttons"> -->
        <button onclick="window.location.href='/'" class="buttons">GO TO HOMEPAGE</button>

        <!-- <a class="button" href="/user/">Go to homepage</a> -->
        <!-- </div> -->
    </div>


</body>

</html>