@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}
.error-plane {
  height: 3rem;
  width: 100%;
  border: 1px solid blue;
}

/* custom */
.user__details .div {
  display: flex;
  /* border: 1px solid blue; */
  align-items: center;
  gap: 0.3rem;
}
.check-email {
  height: 1rem;
  width: 1rem !important;
}
.user__details #profile-email {
  width: 100%;
}

.check-info {
  color: red;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
/* custom end */

body {
  /* display: flex;
  justify-content: center;
  align-items: center;  */
  /* padding: 10px; */
}
/* container and #form */
.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* height: 100%; */
  position: relative;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #199561;
}

.container .title::before {
  content: '';
  position: absolute;
  height: 3.5px;
  width: 30px;
  /* background: linear-gradient(135deg, var(--main-blue), var(--main-purple)); */
  left: 0;
  bottom: 0;
  background-color: #199561;
}

.container #form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the #form user details */
#form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}

/* inside the #form gender details */

#form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

#form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

#form input[type='radio'] {
  display: none;
}
.user-state-hint {
  color: red;
}
/* submit button */
#form .button {
  height: 45px;
  margin: 10px 0;
}

#form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #199561;
  cursor: pointer;
  /* background: linear-gradient(135deg, var(--main-blue), var(--main-purple)); */
  transition: all 0.3s ease;
}

#form .button input:hover {
  background: #25aa72;
}

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
    /* height: 100vh; */
    margin-top: 2rem;
  }

  #form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  #form .gender__details .category {
    width: 100%;
  }

  .container #form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}
.select {
  width: 100%;
  outline: none;
  border: 2px solid #cdcdcd;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 3rem;
}
/* not certain on this */
.error-plane {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.1rem;
  margin-top: 0.5rem;
}

/* email check box */
.check-email {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}
.check-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.check-email .email-checkbox {
  display: flex;
  border: 1px solid rgb(23, 23, 37);
}
.signup_link {
  margin: 5px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}
