@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #eee;
}

.row {
  max-width: 1500px;
  width: 95%;
  margin: 30px auto;
}
main {
  padding: 10px;
}
.top_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.display {
  /* width: 30%; */
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diff_display {
  background-color: #fce2e2;
}

.bottom_section {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.btm {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1em;
  background-color: #fff;
}

.btm h5 {
  text-align: center;
}
.ticket-wrapper {
  display: flex;
  /* border: 1px solid blue; */
  align-items: flex-end;
  justify-content: space-between;
}
.active-ticket {
  width: 66px;
  height: 66px;
}
/* #myChart{
    
} */

.new1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  /* background-color: red; */
  position: relative;
  width: 50%;
  height: 40vh;
  border: 2px solid black;
}

@media screen and (max-width: 900px) {
  .top_section {
    width: 100%;
    gap: 20px;
    /* background-color: red; */
  }
  .display {
    width: 100%;
  }
  .btm {
    overflow: auto;
  }
  .btm h1 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 612px) {
  .top_section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  .top_section .display {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 470px) {
  .top_section {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .bottom_section {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
