@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f6f6f6;
}

/* Header Styling */
header {
  width: 100%;
  padding: 5px 5px;
  border-bottom: 2px solid #cacaca;
  background-color: #d1efcc;
  height: fit-content;
}
.rowt {
  max-width: 1500px;
  width: 95%;
  margin: 5px auto;
}
.header_img {
  width: 6%;
}

nav {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* gap: 20px; */
}

.nav-items {
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.nav-cont {
  width: 25%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.con {
  width: 60%;
  display: flex;
  justify-content: right;
}
.con ul li {
  list-style-type: none;
}
.con .nav-items li {
  /* width: 0%; */

  position: relative;
}
.con .nav-items li::after {
  content: '';
  position: absolute;
  width: 15%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ffc907;
  transition: all 0.3s ease-in-out;
}
.con .nav-items li:hover::after {
  width: 100%;
}
.con .nav-cont .be {
  position: relative;
  cursor: pointer;
}
.con .nav-cont .be .num {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -10%;
  top: -10%;
  color: #fff;
  font-size: 0.8rem;
}

.nav-cont img {
  width: 30%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.box_h1 {
  background-color: white;
  padding: 0.4em 0.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1ca76c;
}
#mySidebar,
#main {
  display: none;
}
.fa {
  font-size: 30px;
}

@media screen and (max-width: 1025px) {
  /* .nav-items{
        width: 50%;
    } */
}
@media screen and (max-width: 901px) {
  .nav-items {
    width: 80%;
  }
  .con {
    width: 80%;
  }
  .nav-cont img {
    /* width: 20%; */
  }
  .box_h1 {
    padding: 0.2em 0.3em;
  }
}

@media screen and (max-width: 447px) {
  header {
    justify-content: space-between;
  }
  i {
    background-color: #1ca76c;
    color: white;
    padding: 0.4em;
    border-radius: 10px;
  }
  nav {
    justify-content: space-between;
  }
  .con {
    display: none;
  }
  #mySidebar,
  #main {
    display: block;
  }

  /* The sidebar menu */
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /* background-color: #111; Black */
    background-color: #1ca76c;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  /* The sidebar links */
  .sidebar a {
    padding: 0.4em;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding-left: 1rem;
    border-bottom: 2px solid white;
  }
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
  }
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.5s; /* If you want a transition effect */
    padding: 20px;
  }

  .sidebar .box_font i {
    /* width: 12%; */
    color: white;
    font-size: 1.5rem;
  }
  .sidebar .box_font span {
    /* width: 12%; */
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }

  .sidebar a img {
    width: 20%;
    border: none;
    padding-left: 1rem;
  }
}
