.align-select-input {
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  gap: 1rem;
}
/* style cancel icon */

.fa-xmark {
  margin-right: 0.5rem;
  cursor: pointer;
  color: red;
}
.span {
  margin-right: 0.5rem;
}
.align-select-input .form-box {
  width: 100%;
}

#submitBtn {
  border: none;
  color: #e9f4fb;
  padding: 6px 20px;
  background: #25aa72;
  border-radius: 6px;
  font-size: clamp(15px, 1vw, 30px);
  font-weight: 600;
  cursor: pointer;
  cursor: pointer;
  outline: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
#submitBtn:hover {
  border-color: #25aa72;
  background-color: #3ab984;
  transition: 0.5s;
}
.input__box {
  margin-bottom: 15px;
}

.select {
  width: 100%;
  outline: none;
  border: 2px solid #cdcdcd;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 3rem;
}

#btn-section {
  margin-left: auto;
  width: 60%;
  /* border: 1px solid blue; */
}
.view:hover {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .align-select-input {
    width: 100%;
    border: none;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
}
