@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 .h4 {
  font-size: 1rem !important;
}

body {
  background-color: rgb(237, 237, 237);
}

main {
  background-color: white;
  width: 95%;
  margin-inline: auto;
  border-radius: 10px;
}

/* custom */
.edit {
  cursor: pointer;
}
.view {
  cursor: pointer;
}
.caption-12 {
  display: flex;
  gap: 0.5rem;
}
.drop:before {
  content: 'inactive';
}
.add:before {
  content: 'active';
}

.card-section {
  margin-bottom: 2rem;
}
/* card design ----start */
.c-dashboardInfo {
  margin-bottom: 15px;
}
.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 40px 25px 20px;
  height: 100%;
}
.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
}
.c-dashboardInfo span {
  display: block;
}
.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 64px;
  color: #323c43;
}
.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}
.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
}
.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}
.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}
.c-dashboardInfo__title svg {
  color: #d7d7d7;
  margin-left: 5px;
}
.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

/* card design ----end */
.edit {
  color: #25be64;
}
.view {
  color: #049cdb;
}
.trash {
  color: #e00300;
}

.table-header {
  position: sticky;
  top: 0;
}
.action-icons .dt-cont {
  display: flex;
  justify-content: space-around;
}
.action-icons .dt-cont > i {
  cursor: pointer;
}
.d-flex {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  color: #585c64;
}

/* fi */
.table-desc {
  margin-top: 2rem;
  /* padding: 1rem 4rem; */
  border-radius: 1rem;
  /* font-size: 1rem; */
  /* border: 1px solid blue; */

  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}
.margin-icon {
  margin-left: 1rem;
}

/* Page Wrapper/Container Style */
.table-container {
  width: 100%;

  margin-top: 20px;
  padding: 0 15px;
  border-left: 1px solid #dadde4;
  height: 500px;
  overflow: auto;
  top: 0;
}

/* .scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
} */
#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b59191;
}
.add-user {
  margin-top: 2rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid blue; */
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.th-cont {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* .add-user form {
  padding: 0;
} */
.add-user form .button {
  border: none;
  background-color: #25be64;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  /* padding: 1rem 2rem; */
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  align-self: center;
  /* margin-right: 2rem; */
}
.add-user h4 {
  width: 100%;
}
.add-user-form div {
  max-width: 7.5rem;
  margin-left: auto;
}
/* filter section */
.no__click {
  pointer-events: none;
}
.fa-spin {
  font-size: 0.5rem;
}
.filter-users-cont {
  width: 90%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
}
.filter-users-cont h4 {
  text-align: center;
}
.filter-users {
  display: flex;
}
.filter-btn {
  height: 2rem;
}

.filter-form {
  display: flex;
  justify-content: space-around;
  align-self: center;
  /* height: 5rem; */
  /* border: 1px solid blue; */
  width: 100%;
}

.txt_field {
  outline: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  width: 200px;
  border: 1px solid #dadde4;
  font-size: small;

  /* color: #fff; */
}
.filter-form div label {
  font-size: small;
}

.filterHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.select_field {
  outline: none;
  padding: 0.3rem 1rem;
  border: 1px solid #dadde4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 220px;
  font-size: small;

  /* color: #fff; */
}
.options {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.date_field {
  border: 1px solid #dadde4;
  border-radius: 5px;

  outline: none;
  padding: 0.3rem 1rem;
  border: 1px solid #dadde4;
  font-size: small;
  width: 150px;
  /* color: #fff; */
}
.search_button {
  padding: 0.3rem 2rem 0.3rem 0.5rem;
  /* padding-right: 30rem; */
  /*padding-left: 0.5rem; */
  border-radius: 6px;
  border: none;
  background-color: #25be64;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search_button:focus {
  outline: none;
  background-color: #198345;
}
.search_button i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.add-user button i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
/* SVG Up Arrow Style */
.up-arrow {
  height: 100%;
  max-height: 1.8rem;
  margin-left: 1rem;
}

/* SVG User Icon Style */
.user-icon {
  width: 100%;
  max-width: 4rem;
  height: auto;
  margin-right: 1rem;
}

/* Status Indicator Style */
.status-indicator {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #222222;
  margin-right: 0.5rem;
}
.status-indicator--active {
  background: #25be64;
}
.status-indicator--inactive {
  background: #dadde4;
}
.status-indicator--new {
  background: #febf02;
}

/** Responsiveness for filter and add user section  */

@media only screen and (max-width: 600px) {
  .filter-users-cont {
    width: 90%;
  }
  .filter-users form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filter-form div {
    width: 100%;

    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-btn {
    display: flex;
    justify-content: center;
  }

  .txt_field {
    width: 75%;
    /* margin-left: 1rem; */
  }
  .select_field {
    width: 75%;
    /* margin-left: 1rem; */
  }
  .search_button {
    padding-right: 0;
    /* padding: 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*  */
    font-size: 0.9rem;
    width: 8rem;
    font-weight: 500;
  }
  .search_button i {
    background-color: #25be64;
    font-size: 1.2rem;
  }

  .add-user button {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .add-user button i {
    font-size: 0.9rem;
    font-weight: 800;
    background-color: #25be64;
  }
}

@media only screen and (min-width: 601px) and (max-width: 820px) {
  .filter-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .filter-form {
    padding: 0 1rem;
    display: flex;
    align-items: flex-end;
  }
  .filter-users-cont {
    width: 95%;
  }
}

/* Table Base */

table {
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}
.status {
  font-size: 0.9rem;
  /* display: flex;
  height: 100%; */
  /* align-items: center; */
  /* justify-content: ; */
}
.table th,
.table td {
  font-weight: normal;
  font-size: 12px;
  /* min-width: 100px; */
  padding: 8px 10px;
  /* line-height: 20px; */
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}

.table thead th {
  background: #eeeeee;
  vertical-align: bottom;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}
.table .t-small {
  width: 5%;
}
.table .t-medium {
  width: 15%;
}
.table .t-status {
  font-weight: bold;
}
.table .t-active {
  color: #46a546;
}
.table .t-inactive {
  color: #e00300;
}
.table .t-draft {
  color: #f89406;
}
.table .t-scheduled {
  color: #049cdb;
}

/* Small Sizes */
@media (max-width: 480px) {
  .action-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-action td {
    border: 0;
  }
  .table-action td:not(:first-child) {
    display: block;
  }
}
