@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F6F6F6;
}

main{
    width: 80%;
    /* background-color: red; */
    margin: 100px auto;
}

.top_section{
    display: flex;
    justify-content: space-between;
}

.display{
    width: 30%;
    border: 2px solid #C2C2C2;
    border-radius: 10px;
    padding: 1em;
}

.diff_display{
    background-color: #FCE2E2;
}

.bottom_section{
    display: flex;
    justify-content: space-between;
}

.btm{
    width: 45%;
    border: 2px solid #C2C2C2;
    border-radius: 10px;
    padding: 1em; 
}

.btm h5{
    text-align: center;
}



.new1{
   display: flex;
    justify-content: space-between;
    align-items: center; 
}
.new2{
   display: flex;
    justify-content: center;
    align-items: center; 
}
.flex{
    /* background-color: red; */
    position: relative;
    width: 50%;
    height: 40vh;
    border: 2px solid black;
    
}

@media screen and (max-width: 900px) {
    .top_section{
        width: 100%;
        flex-direction: column;
        gap: 20px;
        /* background-color: red; */
    }
    .display{
        width: 100%;
    }
    .btm{
        border: none;
        overflow: auto;
    }
}
@media screen and (max-width: 600px) {
   
    .bottom_section{
        flex-direction: column;
    }
    .btm1, .btm2{
        width: 100%;
        overflow: auto; 
    }
    
   
}
