@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Header Styling */
header {
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.342);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(209,239,204);
}
.gotu{
  color: #ffc800 !important;
  font-size: 2.3rem !important;
}

.header_img {
  width: clamp(60px, 4vw, 200px);
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav_btn {
  padding: 0.35em 1em;
  border-radius: 7px;
  text-decoration: none;
}

.btn1 {
  border: 2px solid #1ca76c;
  color: #1ca76c;
  font-weight: bold;
  background-color: white;
  margin-right: 10px;
}
.btn1:hover {
  background-color: #1ca76c;
  color: white;
}
.btn2 {
  background-color: #1ca76c;
  color: white;
  font-weight: bold;
  border: 2px solid #1ca76c;
}
.btn2:hover {
  background-color: white;
  color: #1ca76c;
}

/* Main */
.house {
  height: fit-content;
  margin-top: 40px;
}
.main {
  min-height: 100vh;
  /* background-color: red; */
}
.house.effect {
  height: 100vh;
  display: block;
  background-color: #000;
  color: #fff;
  opacity: 0.3;
  background-color: blue;
}

.house-sct {
  display: flex;
}

.house.thing {
  height: 120vh;
  display: block;
  background-color: #000;
  color: #fff;
  opacity: 0.3;
}
.section-text {
  margin-top: 3em;
}

.section1 {
  width: 90%;
}
.section2 {
  width: 90%;
}
.img-sct {
  width: 100%;
}

.section .section-text h1,
h2,
h3 {
  text-align: right;
}

.section .section-text h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.section .section-text h2 {
  font-weight: bold;
  color: #ffc800;
  font-size: 2.5rem;
}
.section .section-text h1 {
  font-weight: bold;
  color: #1ca76c;
  font-size: 5rem;
  margin: 0;
}

.section .section-text p {
  font-size: 0.8rem;
  text-align: right;
  font-weight: 550;
}
.section .section-text .p2 {
  font-size: 0.8rem;
  text-align: right;
  width: 100%;
}
.btn-div {
  width: 100%;
  display: flex;
  justify-content: right;
}
.btn3 {
  background-color: #1ca76c;
  padding: 0.75em 3.5em;
  color: white;
  border-radius: 10px;
  border: 2px solid #1ca76c;
  font-weight: bold;
  margin-top: 1em;
  text-decoration: none;
}
.btn3:hover {
  color: #1ca76c;
  background-color: white;
}

/* Media Query */
@media screen and (max-width: 1050px) {
  header {
    padding: 10px 0px;
  }
  .header_img {
    width: 60px;
  }  
  .house-sct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .nav-menu {
    display: flex;
    gap: 10px;
  }
  .nav_btn {
    padding: 5px 15px;
    font-size: 16px;
  }
  .section .section-text h1,
  h2,
  h3 {
    text-align: center;
  }
  .section-text p {
    text-align: center;
  }
  .p2 {
    text-align: center;
  }
  .section .section-text p {
    text-align: center;
  }
  .section .section-text .p2 {
    text-align: center;
  }
  .section .section-text h3 {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .section .section-text h2 {
    font-size: 1.3rem;
  }
  .section .section-text h1 {
    font-size: 3rem;
  }
  .btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn3 {
    padding: 0.45em 1em;
    margin-top: 0em;
  }
  #login {
    width: 95%;
  }
  .login-form .input {
    gap: 0;
    font-size: 1px;
  }
  .login-form .input div label {
    font-size: 12px;
  }
  .house.thing {
    height: 200vh;
  }
  .house.effect {
    height: fit-content;
  }
}
