@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
  --headerBackground: rgb(209, 239, 204);
}

.register-main {
  background-color: rgb(237, 237, 237);
  min-height: 100vh;
  padding-bottom: 50px;
}

/* Header Styling */
.register-header {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.342);
  display: flex;
  padding-block: 10px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: clamp(50px, 2vw, 100px);
  background-color: var(--headerBackground);
}

.register-header img {
  width: clamp(60px, 4vw, 200px);
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav_btn {
  padding: 0.35em 1em;
  border-radius: 10px;
  text-decoration: none;
}

.btn1,
.btn2 {
  font-weight: 500;
}

.btn1 {
  border: 3px solid #1ca76c;
  background-color: white;
  color: #1ca76c;
}
.btn1:hover {
  background-color: #1ca76c;
  color: white;
  text-decoration: none;
}
.btn2 {
  background-color: #1ca76c;
  color: white;
  border: 3px solid #1ca76c;
}
.btn2:hover {
  background-color: white;
  color: #1ca76c;
  text-decoration: none;
}

/* container and form */
.container {
  width: min(50%, 1200px);
  background: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .title {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  color: #199561;
}
.container .title::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 10%;
  left: 0;
  bottom: -6%;
  background-color: #199561;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(80, 168, 110);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border: 2px solid rgb(80, 168, 110);
}

/* inside the form gender details */
form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type='radio'] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 10px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #199561;
  cursor: pointer;
  /* background: linear-gradient(135deg, var(--main-blue), var(--main-purple)); */
  transition: all 0.3s ease;
}

form .button input:hover {
  background: #25aa72;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 584px) {
  .container {
    width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}
.select {
  width: 100%;
  outline: none;
  border: 2px solid #cdcdcd;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 3rem;
}
/* not certain on this */
.error-plane {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.1rem;
  /* border: 1px solid blue; */
  margin-top: 0.5rem;
}

.signup_link {
  margin: 5px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}
