<header class="solution-header">
    <div class="logo">
        <a href="/">
            <img src="/public/img/logo.png" alt="CapacityBay-Logo1">
        </a>
    </div>
    <nav class="solution-nav">
        <div class="main-navigation">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/ticket/list">Tickets</a></li>
            <li><a href="/admin/manage/users">Users</a></li>
            <li class="dept"><a href="/admin/manage/department">Departments</a></li>
        </div>
        <div class="details solution-deets">

            <div class="hero-toggles solutions-hero-toggle">
                <article class="create solutions-create">
                    <a href="/admin/create/ticket">Create a Ticket</a>
                </article>
            </div>
            <div class="bell">
                <i class="fa-regular fa-bell"></i>
            </div>
            <div class="user">
                <p class="clickable-user">
                    <%= user? user.first_name.charAt(0).toUpperCase() + "" + user.last_name.charAt(0).toUpperCase():"EO"
                        %>
                </p>
                <div class="user-details">
                    <div class="username">
                        <p class="clickable-user clickable2">
                            <%= user? user.first_name.charAt(0).toUpperCase() + "" +
                                user.last_name.charAt(0).toUpperCase():"SU" %>
                        </p>
                        <div class="username-info">
                            <%= user ? user.first_name: "System" %>
                                <%= user ? user.last_name : "User" %>
                        </div>
                    </div>
                    <div class="username-info info1">
                        <a href="/admin/profile/edit">Edit Profile</a>
                    </div>
                    <div class="info2">
                        <!-- <div> -->

                        <form style="width: 100%;" action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="custom-btn-logout">Log Out</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="x-mark"><i class="fa-solid fa-xmark"></i></div>
    </nav>
    <div class="hamburger solution-ham">
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
    </div>
</header>