<div class="">
    <div class="chart">
        <div class="no-chart-data">
            <h2 class="title">No data for current period</h2>
            <div class="y-axis"></div>
            <div class="x-axis"></div>
            <div class="bars">
                <div class="overlay"></div>
                <div class="bar bar-0"></div>
                <div class="bar bar-1"></div>
                <div class="bar bar-2"></div>
                <div class="bar bar-3"></div>
                <div class="bar bar-4"></div>
                <div class="bar bar-5"></div>
                <div class="bar bar-6"></div>
                <div class="bar bar-7"></div>
                <div class="bar bar-8"></div>
                <div class="bar bar-9"></div>
                <div class="bar bar-10"></div>
                <div class="bar bar-11"></div>
                <div class="bar bar-12"></div>
                <div class="bar bar-13"></div>
                <div class="bar bar-14"></div>
                <div class="bar bar-15"></div>
                <div class="bar bar-16"></div>
                <div class="bar bar-17"></div>
                <div class="bar bar-18"></div>
                <div class="bar bar-19"></div>
                <div class="bar bar-20"></div>
                <div class="bar bar-21"></div>
                <div class="bar bar-22"></div>
                <div class="bar bar-23"></div>
            </div>
        </div>
    </div>
</div>